<a href="https://colab.research.google.com/github/Shreya2803/Bengali-Language-Model/blob/main/Data_Preprocessing__2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We already have movies up to 2016 in Data_preprocessing_1 file, so we will only get 2017 movies.

**Import Gdrive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Importing all the essential Python Libraries**

In [ ]:
#(pandas)to read CSV file
import pandas as pd
#(Numpy)Linear algebra
import numpy as np
import os

**Loading the dataset into Pandas Dataframe**

In [ ]:
credits = pd.read_csv('/content/drive/MyDrive/Dataset/credits.csv')
movie_metadata = pd.read_csv('/content/drive/MyDrive/Dataset/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

**Number of rows and columns in the dataset**

In [ ]:
credits.shape

(45476, 3)

In [ ]:
movie_metadata.shape

(45466, 24)

In [ ]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

**Print the first 5 rows of the dataset**

In [ ]:
movie_metadata.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

**Converting release date into date-time**

In [ ]:
movie_metadata['release_date'] = pd.to_datetime(movie_metadata['release_date'], errors='coerce')

**Get only the Year from the data**

In [ ]:
movie_metadata['year'] = movie_metadata['release_date'].director.year

**Sort and count the value of Year by Data**

In [ ]:
movie_metadata['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

**Geting the data of only year 2017**

In [ ]:
data = movie_metadata.loc[movie_metadata.year == 2017,['genres','id','title','year']]

In [ ]:
data.head(5)

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0

**Converting the data id (string) to Integer**

In [ ]:
data['id'] = data['id'].astype(int)

In [ ]:
New_data = pd.merge(data, credits, on='id')

**Displaying the extracted dataset**

In [ ]:
pd.set_option('display.max_colwidth', 80)
New_data

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 14, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe4c9cc...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', 'gend...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, '...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e68db0...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', 'gend...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, '...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a261fb...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'gender'...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, '...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '53dd76...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gender': ...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e0a265...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', 'gende...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker
...,...,...,...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001b0b1'...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', 'gende...",Romance Comedy,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04e9251...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'gender'...",Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Gina Holden
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gender': ...",Family Animation Romance Comedy,NaN,NaN,NaN
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name'...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3a3686...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gender': ...",Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Akshaye Khanna
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', 'gende...",NaN,NaN,NaN,NaN

**Converts the string into list**

In [ ]:
#importing ast library
import ast
#literal_eval function has the functionality to convert list into string 
New_data['genres'] = New_data['genres'].map(lambda x: ast.literal_eval(x))
New_data['cast'] = New_data['cast'].map(lambda x: ast.literal_eval(x))
New_data['crew'] = New_data['crew'].map(lambda x: ast.literal_eval(x))

**Listing all the Genre names**

In [ ]:
def genres_list(x):
    genre = []
    str1 = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            genre.append(scifi)
        else:
            genre.append(i.get('name'))
    if genre == []:
        return np.NaN
    else:
        return (str1.join(genre))

In [ ]:
New_data['genres_list'] = New_data['genres'].map(lambda x: genres_list(x))

**Displaying all the Genres**

In [ ]:
New_data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

**Listing all the actor names**

**Actor 1**

In [ ]:
def actors_list(x):
    actor1 = []
    for i in x:
        actor1.append(i.get('name'))
    if actor1 == []:
        return np.NaN
    else:
        return (actor1[0])

In [ ]:
New_data['actor_1_name'] = New_data['cast'].map(lambda x: actors_list(x))

In [ ]:
New_data['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

**Actor 2**

In [ ]:
def actors2_list(x):
    actor2 = []
    for i in x:
        actor2.append(i.get('name'))
    if actor2 == [] or len(actor2)<=1:
        return np.NaN
    else:
        return (actor2[1])

In [ ]:
New_data['actor_2_name'] = New_data['cast'].map(lambda x: actors2_list(x))

In [ ]:
New_data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

**Actor 3**

In [ ]:
def actor3_list(x):
    actor3 = []
    for i in x:
        actor3.append(i.get('name'))
    if actor3 == [] or len(actor3)<=2:
        return np.NaN
    else:
        return (actor3[2])

In [ ]:
New_data['actor_3_name'] = New_data['cast'].map(lambda x: actor3_list(x))

In [ ]:
New_data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

**Listing all the directors name**

In [ ]:
def directors_list(x):
    director = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            director.append(i.get('name'))
    if director == []:
        return np.NaN
    else:
        return (st.join(director))

In [ ]:
New_data['director_name'] = New_data['crew'].map(lambda x: directors_list(x))

In [ ]:
New_data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

**Create a table with the only necessary datas**

In [ ]:
movie = New_data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [ ]:
movie.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

**Checking the Null Values**

In [ ]:
movie.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

**Drop the Null values**

In [ ]:
movie = movie.dropna(how='any')

**Renaming Some columns**

In [ ]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

**Modifying Movie title to lower case**

In [ ]:
movie['movie_title'] = movie['movie_title'].str.lower()

**Combining al the columns(except Movie Title) to generate a new coloumn**

In [ ]:
movie['combined'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [ ]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg Adven...
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy Sci-Fi
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adventure...
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comedy Sci-Fi
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,the king's daughter,Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Action Adv...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Crime C...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

**Read the saved CSV file from previous data preprocessing**

In [ ]:
previous_data = pd.read_csv('/content/drive/MyDrive/Dataset/data.csv')

In [ ]:
previous_data.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,NaN,Documentary,star wars: episode vii - the force awakens

**Create a new column where all the data of all coloumns will be combined**

In [ ]:
previous_data['combined'] = previous_data['actor_1_name'] + ' ' + previous_data['actor_2_name'] + ' '+ previous_data['actor_3_name'] + ' '+ previous_data['director_name'] +' ' + previous_data['genres']

In [ ]:
previous_data.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb,combined
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure Fantas...,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure Fantas...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventure Fan...,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventure Fan...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventure Th...,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventure Th...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,NaN,Documentary,star wars: episode vii - the force awakens,NaN,NaN

**Merging the recent data with the old one**

In [ ]:
New_data=previous_data.append(movie)

**Deletes the duplicate data**

In [ ]:
New_data.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

**All the combined data is saved to a new CSV file**

In [ ]:
New_data.to_csv('/content/drive/MyDrive/Dataset/new_data.csv',index=False)